<nav class="fixed top-0 w-full z-50 backdrop-blur-md border-b border-stone-100/50 bg-white/80">
  <div class="px-6 py-4 flex justify-between items-center max-w-7xl mx-auto">
    <a href="/" class="flex items-center gap-2">
      <iconify-icon icon="lucide:leaf" class="text-3xl text-primary"></iconify-icon>
      
    </a>
    <div class="flex items-center gap-6">
      <div class="hidden md:flex items-center gap-6 text-sm text-stone-500 font-normal">
        <a href="/podcast" class="hover:text-stone-900 transition-colors">Podcast</a>
        <a href="/a-propos" class="hover:text-stone-900 transition-colors">À propos</a>
        <a href="/programmes" class="hover:text-stone-900 transition-colors">Programmes</a>
        <a href="/ressources" class="hover:text-stone-900 transition-colors">Ressources</a>
      </div>
      <a href="/contact" class="text-stone-900 bg-ivory hover:text-white px-4 py-2 rounded-lg text-sm transition-colors font-bold uppercase tracking-wider hover:bg-primary">
        Me contacter
      </a>
    </div>
  </div>
</nav>
